body {
	font-size: 18px;
	color: white;
	background-color: black;
	font-family: 'Lobster', cursive;
}

/* HEADER */
#header-nav {
	background-color: red;
	border-radius: 0;
	border: 0;
	color: white;
}

.navbar-brand p {
	color: white;
	font-size: 35px;
}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}

#nav-list a {
	color: white;
	text-align: center;
}

#nav-list a:hover {
	background-color: orange;
}
/* END HEADER */

/* Section */
#home {
	margin-bottom: 30px;
}

.row {
	
	position: relative;
	float: left;
}

.row > div > article {
	background-color: orange;
	text-align: justify;
	margin-bottom: 20px;
	padding: 10px;
	color: black;
}
/* End Section */

@media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}
}
@media (max-width: 767px) {
	.row > div > article {
		width: 80%;
		margin: 20px auto 0;
	}

}